In [78]:
# Step 1 Data Processing
import pandas as pd

In [79]:
# Convert the CSV file to a DataFrame (Data Processing)
df = pd.read_csv('digital_wallet_ltv_dataset.csv', encoding_errors='ignore')

# Display the structure of the DataFrame
df.shape # (rows, columns)

(7000, 20)

In [80]:
# Step 2 Data Cleaning
# Change column names to lowercase and remove underscores
df.columns = df.columns.str.replace('_', ' ').str.lower()

# Check for missing and duplicate values
if df.isnull().values.any() or df.duplicated().values.any():
    df.dropna(inplace = True)

# Drop customer id
df.drop('customer id', axis = 1, inplace = True)

In [81]:
# Step 3 Data Transformation
# Convert monetary values from rupees to CAD
conversion_rate = 0.016  # Example conversion rate from 1 rupees to 0.016 CAD
df['avg transaction value'] = df['avg transaction value'] * conversion_rate
df['total spent'] = df['total spent'] * conversion_rate
df['max transaction value'] = df['max transaction value'] * conversion_rate
df['min transaction value'] = df['min transaction value'] * conversion_rate
df['cashback received'] = df['cashback received'] * conversion_rate

# Round all columns to two decimal points
df = df.round(2)

# Display first 5 rows after transformation
df.head()

,age,location,income level,total transactions,avg transaction value,max transaction value,min transaction value,total spent,active days,last transaction days ago,loyalty points earned,referral count,cashback received,app usage frequency,preferred payment method,support tickets raised,issue resolution time,customer satisfaction score,ltv
0,54,Urban,Low,192,267.78,963.47,104.41,51414.17,140,209,2114,25,35.58,Monthly,Debit Card,3,61.57,1,327954.57
1,67,Suburban,High,979,232.59,773.60,34.99,227703.41,229,240,2960,20,64.43,Monthly,UPI,17,60.39,8,1437052.91
2,44,Urban,High,329,112.98,520.34,43.89,37171.07,73,21,3170,0,23.06,Monthly,Debit Card,11,45.31,4,241938.66
3,30,Rural,High,71,262.83,285.25,69.77,18660.93,299,285,4756,35,69.85,Weekly,Wallet Balance,6,22.03,1,128459.90
4,58,Urban,Middle,878,172.80,279.96,72.53,151719.70,236,329,1992,18,66.58,Daily,UPI,18,20.63,5,956951.37

In [82]:
# Step 4 Data Exploration & Analysis
# Import sqlalchemy
from sqlalchemy import create_engine

In [83]:
# Create SQLAlchemy connection for PostgreSQL
engine = create_engine("postgresql+psycopg2://postgres:1234@localhost:5432/fintech_ltv")

# Check if the connection is successful
try:
    # Connect to PostgreSQL database
    # Write DataFrame to PostgreSQL table named 'fintech_ltv'
    df.to_sql('fintech_ltv', con=engine, if_exists='replace', index=False)
    print("Connection Successful")
except:
    print("Connection Failed")

Connection Successful