In [ ]:
# Step 1 Data Exploration
import pandas as pd

In [ ]:
# Convert the CSV file to a DataFrame (Data Processing)
df = pd.read_csv('digital_wallet_ltv_dataset.csv', encoding_errors='ignore')

# Display the structure of the DataFrame
df.shape # (rows, columns)

In [ ]:
# Display first 5 rows
df.head()

In [ ]:
# Display column names
df.columns

In [ ]:
# Display summary of the DataFrame
df.info()

In [ ]:
# Statistics of the DataFrame
df.describe()

In [ ]:
# Step 2 Data Cleaning
df.isnull().sum()  # Check for missing values

In [ ]:
# Check and drop duplicates
df.duplicated().sum()
if df.duplicated().sum() > 0:
    df.dropna(inplace=True) # Drop entire rows with missing values

In [ ]:
# Step 3 Data Transformation
# Convert monetary values from rupees to CAD
conversion_rate = 0.016  # Example conversion rate from 1 rupees to 0.016 CAD
df['Avg_Transaction_Value'] = df['Avg_Transaction_Value'] * conversion_rate
df['Total_Spent'] = df['Total_Spent'] * conversion_rate
df['Max_Transaction_Value'] = df['Max_Transaction_Value'] * conversion_rate
df['Min_Transaction_Value'] = df['Min_Transaction_Value'] * conversion_rate
df.head()  # Display first 5 rows after transformation

In [ ]:
# Step 4 Data Analysis
# Import SQL libraries
import psycopg2
from sqlalchemy import create_engine

In [ ]:
# Functions to connect to PostgreSQL and create a table to use SQL commands in Python
# Connect to PostgreSQL database (alternative method if needed to create table from scratch)
def create_db(host_name, dbname, port, username, password):
    try: 
        conn = psycopg2.connect(host=host_name, database=dbname, user=username, password=password, port=port)
        print("Connection Successful")
    except:
        print("Connection Failed")
    return conn

# Create new table in PostgreSQL database
def create_table(curr):
    create_table_command = ("""CREATE TABLE IF NOT EXISTS companies (
        id SERIAL PRIMARY KEY,
        company_name VARCHAR(255) NOT NULL,
        avg_transaction_value FLOAT NOT NULL,
        total_spent FLOAT NOT NULL,
        max_transaction_value FLOAT NOT NULL,
        min_transaction_value FLOAT NOT NULL
    )""")               
    curr.execute(create_table_command)

In [ ]:
# Create SQLAlchemy connection for PostgreSQL
engine = create_engine("postgresql+psycopg2://postgres:1234@localhost:5432/fintech_ltv")

# Check if the connection is successful
try:
    # Connect to PostgreSQL database
    # Write DataFrame to PostgreSQL table named 'fintech_ltv'
    df.to_sql('fintech_ltv', con=engine, if_exists='replace', index=False)
    print("Connection Successful")
except:
    print("Connection Failed")